<h1><%= t("title.password_reset") %></h1>
<%= t("user_mailer.password_reset") %>
<p><%= t("message.password_reset") %></p>

<%= link_to t("title.password_reset"),
  edit_password_reset_url(@user.reset_token, email: @user.email) %>

<p><%= t("message.link_expire") %></p>

<p>
 <%= t("message.ignore") %>
</p>
